
    <table border="1" cellspacing="0"><tr><td>
	<table>
	 <tr><td></td><td>User: </td><td></td><td><input id="user" type="text" title="Type your name please" /></td><td></td></tr>
     <tr><td></td><td>Password: </td><td></td><td><input id="password" type="text" title="Type your name please" /></td><td></td></tr>
    </table>
    </td></tr></table>
    
    <button id="btnLogin" type="button" value="Submit">Submit</button>
    <button id="btnCancel" type="button" value="Cancel">Cancel</button>
  